.board{
    width: 100%;
    height: 98%;
}

.board-header{
    padding: 1em;
}

.board-lists{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.edit-button{
    width: 24px;
    height: 24px;
    border-radius: 1em;
}